
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.grid-wrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

input[type=submit]:disabled {
  color: #c5c9d1;
  background-color: #F0FFF1;
}

input[type=submit] {
  cursor: pointer;
  color:black;
  background-color: #B3E9C7;
}

